<div class="panel panel-default">
  <div class="panel-heading">{{answer.author}}</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        {{answer.content}}
      </div>
      <div class="col-md-6">
        <span class="pull-right">{{answer-update answer=answer updateAnswer="updateAnswer"}}</span>
      </div>
    </div>

  </div>
  <div class="panel-footer"><button class="btn btn-danger" {{action 'delete' answer}}>Delete</button> </div>

</div>
