<h3>Finding a solution to your questions is easy with Solution Factory</h3>
<br>
<div class="row">
  <div class="col-md-6">
    <h3>A Community of Solutions</h3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-md-6">
    {{question-new saveQuestion="saveQuestion"}}
  </div>
</div>
<br>
<h3>Recently Asked Questions</h3>
<br>
{{#each model as |question|}}
  {{question-tile question=question}}
{{/each}}

<!-- {{question-new saveQuestion="saveQuestion"}} -->
